:root.theme-dark {
  --bg-image-theme: url(../images/cover-image-dark.png);
  --decorated-color: #ff0070;
  --decorated-button-color: #ff007066;
  --decorated-link-color: #f1b2ce;
  --accent-color: #ff0070;
  --h1-color: #db00ff;
  --h2-color: var(--decorated-color);
  --h3-color: #000028;
  --text-color: #f1b2ce;
  --shadow-color: var(--accent-color);
  --visible-decorated: grid;
}
