:root.theme-light {
  --bg-image-theme: url(../images/cover-image-light.png);
  --decorated-color: #353430;
  --decorated-button-color: #32312d66;
  --decorated-link-color: var(--decorated-color);
  --accent-color: #ff8dcb;
  --h1-color: #ffc2e6;
  --h2-color: var(--decorated-color);
  --h3-color: var(--decorated-color);
  --text-color: var(--decorated-color);
  --shadow-color: var(--accent-color);
  --visible-decorated: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-image-theme: url(../images/cover-image-light.png);
    --decorated-color: #353430;
    --decorated-button-color: #32312d66;
    --decorated-link-color: var(--decorated-color);
    --accent-color: #ff8dcb;
    --h1-color: #ffc2e6;
    --h2-color: var(--decorated-color);
    --h3-color: var(--decorated-color);
    --text-color: var(--decorated-color);
    --shadow-color: var(--accent-color);
    --visible-decorated: none;
  }
}
